@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <h1 class="display-4 mt-3">Добро пожаловать! 🌟</h1>
    <p class="lead">Мы рады видеть вас здесь! Наш провайдер предлагает надежное подключение к интернету, качественное телевидение и много других услуг для вашего комфорта и удовольствия. Здесь вы найдете все необходимое для быстрого и стабильного онлайн-соединения. Надеемся, что вы найдете у нас все, что искали! Приятного пользования нашими услугами!</p>
    <p>Чтобы оформить заявку на наши услуги, пожалуйста, зарегистрируйтесь на сайте.</p>
    <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Register", "Users")'">Зарегистрироваться</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Users")'">Войти</button>
</div>

<style>
    .container {
        max-width: 800px;
        margin: auto;
    }
 
    .btn {
        padding: 10px 20px;
        font-size: 1.1rem;
        border-radius: 5px;
    }
</style>